:root {
	--bg-color: #1E0B11;
	--primary-color: #1E0B11;
	--secondary-color: #053C5E;
	--text-color: #1F7A8C;
	--text-color-2: #BFDBF7;
	--overlay-color: rgb(12, 12, 12);
	--headers-font-family: 'Quantico', sans-serif;
	--text-font-family: 'Signika Negative',	sans-serif;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--text-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 60px;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headers-font-family);
}

a,
a:hover {
	color: var(--text-color);
}

p {
	word-break: break-word;
	hyphens: auto;
}

.ovhidden {
	overflow: hidden;
}

.text_2,
.text_2:hover {
	color: var(--text-color-2);
}

code {
	font-family: var(--headers-font-family)
}

.color_pr {
	color: var(--primary-color) !important;
}

.color_sec {
	color: var(--secondary-color);
}